.bookCard {
  margin-top: 10px;
}

.bookCard:hover {
  cursor: pointer;
}

.bookCard h3 {
  padding-bottom: 10px;
  font-weight: bold;
}
.bookCard p b {
  font-weight: bold;
}

.closeIconContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.deleteIcon:hover {
  color: #da1e28;
}
